root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
tab_width = 4
ij_continuation_indent_size = 4
ij_formatter_off_tag = @formatter : off
ij_formatter_on_tag = @formatter : on
ij_formatter_tags_enabled = false
ij_smart_tabs = false
ij_wrap_on_typing = false
ij_any_blank_lines_after_class_header = 1
ij_any_keep_control_statement_in_one_line = true
ij_any_keep_blank_lines_in_code = 1
ij_any_blank_lines_around_field = 1
ij_any_align_multiline_parameters = false
ij_any_align_multiline_for = false
ij_any_call_parameters_wrap = on_every_item
ij_any_extends_list_wrap = on_every_item
ij_any_throws_list_wrap = on_every_item
ij_any_extends_keyword_wrap = on_every_item
ij_any_throws_keyword_wrap = on_every_item
ij_any_method_call_chain_wrap = on_every_item
ij_any_binary_operation_wrap = on_every_item
ij_any_binary_operation_sign_on_next_line = true
ij_any_ternary_operation_wrap = on_every_item
ij_any_ternary_operation_signs_on_next_line = true
ij_any_for_statement_wrap = on_every_item
ij_any_array_initializer_wrap = on_every_item
ij_any_assignment_wrap = on_every_item
ij_any_place_assignment_sign_on_next_line = true
ij_any_wrap_comments = true
ij_any_if_brace_force = if_multiline
ij_any_do_while_brace_force = if_multiline
ij_any_while_brace_force = if_multiline
ij_any_for_brace_force = if_multiline

[*.groovy]
ij_groovy_use_fq_class_names_in_javadoc = false
ij_groovy_class_count_to_use_import_on_demand = 2147483647
ij_groovy_names_count_to_use_import_on_demand = 2147483647

[*.java]
ij_java_class_count_to_use_import_on_demand = 2147483647
ij_java_names_count_to_use_import_on_demand = 2147483647
ij_java_doc_add_p_tag_on_empty_lines = false
ij_java_doc_do_not_wrap_if_one_line = true
ij_java_doc_keep_empty_parameter_tag = false
ij_java_doc_keep_empty_throws_tag = false
ij_java_doc_keep_empty_return_tag = false
ij_java_use_single_class_imports = true
ij_java_insert_inner_class_imports = false
ij_java_imports_layout = *, |, javax.**, java.**, |, $*
ij_java_layout_static_imports_separately = true
ij_java_packages_to_use_import_on_demand = unset

[*.{kt,kts}]
ktlint_standard_backing-property-naming = disabled
ktlint_standard_package-name = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_filename = disabled

ktlint_code_style = android_studio
ij_kotlin_packages_to_use_import_on_demand = unset
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_standard_property-wrapping = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_parameter-list-wrapping = disabled
ktlint_standard_property-wrapping = disabled
ktlint_standard_enum-wrapping = disabled
ktlint_standard_filename = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_comment-wrapping = disabled
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_no-consecutive-blank-lines = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_function-expression-body = disabled

[{*.md,COMMIT_EDITMSG}]
max_line_length = 72
